@layer utilities {

  .before\:d_block::before {
    display: block
        }

  .w_50px {
    width: 50px
    }

  .\[\&_\>_span\:\:before\]\:content_\'\' > span::before {
    content: ''
        }

  .\[\&_\>_span\:\:before\]\:d_block > span::before {
    display: block
        }

  .\[\&_\>_span\:\:before\]\:pos_absolute > span::before {
    position: absolute
        }

  .\[\&_\>_span\:\:before\]\:w_16px > span::before {
    width: 16px
        }

  .\[\&_\>_span\:\:before\]\:h_16px > span::before {
    height: 16px
        }

  .\[\&_\>_span\:\:before\]\:top_calc\(50\%_-_\(8px_\+_2px\)\) > span::before {
    top: calc(50% - (8px + 2px))
        }

  .\[\&_\>_span\:\:before\]\:left_calc\(50\%_-_\(8px_\+_2px\)\) > span::before {
    left: calc(50% - (8px + 2px))
        }

  .\[\&_\>_span\:\:before\]\:m_auto > span::before {
    margin: auto
        }

  .\[\&_\>_span\:\:before\]\:border_2px_solid_transparent > span::before {
    border: 2px solid transparent
        }

  .\[\&_\>_span\:\:before\]\:rounded_50\% > span::before {
    border-radius: 50%
        }

  .\[\&_\>_span\:\:before\]\:animation_buttonSpin_1s_ease_infinite > span::before {
    animation: buttonSpin 1s ease infinite
        }

  .\[\&_\>_\*\:firstOfType\]\:d_none > *:firstOfType {
    display: none
        }

  .h_40px {
    height: 40px
    }

  .white-space_nowrap {
    white-space: nowrap
    }

  .p_0_24px {
    padding: 0 24px
    }

  .rounded_8px {
    border-radius: 8px
    }

  .pos_relative {
    position: relative
    }

  .d_flex {
    display: flex
    }

  .justify_center {
    justify-content: center
    }

  .items_center {
    align-items: center
    }

  .transition_0\.2s {
    transition: 0.2s
    }

  .cursor_pointer {
    cursor: pointer
    }

  .disabled\:text_gray\.30:is(:disabled, [disabled], [data-disabled]) {
    color: var(--colors-gray-30)
        }

  .disabled\:bg_gray\.15:is(:disabled, [disabled], [data-disabled]) {
    background-color: var(--colors-gray-15)
        }

  .disabled\:\[\&_svg\]\:fill_gray\.30:is(:disabled, [disabled], [data-disabled]) svg {
    fill: var(--colors-gray-30)
            }

  .bg_gray\.gray01 {
    background: gray.gray01
    }

  .border_1px_solid_token\(color\.primary\.50\) {
    border: 1px solid color\.primary\.50
    }

  .border-t_gray\.white {
    border-top-color: var(--colors-gray-white)
    }

  .\[\&_\>_span\]\:d_none > span {
    display: none
        }

  .after\:pos_absolute::after {
    position: absolute
        }

  .after\:w_16px::after {
    width: 16px
        }

  .after\:h_16px::after {
    height: 16px
        }

  .after\:top_calc\(50\%_-_\(8px_\+_2px\)\)::after {
    top: calc(50% - (8px + 2px))
        }

  .after\:left_calc\(50\%_-_\(8px_\+_2px\)\)::after {
    left: calc(50% - (8px + 2px))
        }

  .after\:m_auto::after {
    margin: auto
        }

  .after\:border_2px_solid_transparent::after {
    border: 2px solid transparent
        }

  .after\:rounded_50\%::after {
    border-radius: 50%
        }

  .after\:animation_buttonSpin_1s_ease_infinite::after {
    animation: buttonSpin 1s ease infinite
        }
    .\[\&_\>_span\]\:vis_hidden > span {
      visibility: hidden
        }
    .before\:content_\"\"::before {
      content: ""
        }
    .before\:pos_absolute::before {
      position: absolute
        }
    .before\:w_16px::before {
      width: 16px
        }
    .before\:h_16px::before {
      height: 16px
        }
    .before\:top_calc\(50\%_-_\(8px_\+_2px\)\)::before {
      top: calc(50% - (8px + 2px))
        }
    .before\:left_calc\(50\%_-_\(8px_\+_2px\)\)::before {
      left: calc(50% - (8px + 2px))
        }
    .before\:m_auto::before {
      margin: auto
        }
    .before\:border_2px_solid_transparent::before {
      border: 2px solid transparent
        }
    .before\:rounded_50\%::before {
      border-radius: 50%
        }
    .before\:animation_buttonSpin_1s_ease_infinite::before {
      animation: buttonSpin 1s ease infinite
        }

  .text_gray\.white {
    color: var(--colors-gray-white)
    }

  .bg_primary\.50 {
    background-color: var(--colors-primary-50)
    }
    .before\:border-t_gray\.white::before {
      border-top-color: var(--colors-gray-white)
        }

  .bg_primary\.10 {
    background-color: var(--colors-primary-10)
    }

  .text_primary\.80 {
    color: var(--colors-primary-80)
    }

  .bg_gray\.white {
    background-color: var(--colors-gray-white)
    }

  .border_1px_solid_token\(colors\.primary\.50\) {
    border: 1px solid var(--colors-primary-50)
    }
    .before\:border-t_primary\.80::before {
      border-top-color: var(--colors-primary-80)
        }

  .text_primary\.50 {
    color: var(--colors-primary-50)
    }

  .bg_transparent {
    background-color: transparent
    }
    .before\:border-t_primary\.50::before {
      border-top-color: var(--colors-primary-50)
        }

  .hover\:bg_primary\.60:is(:hover, [data-hover]) {
    background-color: var(--colors-primary-60)
        }

  .hover\:bg_primary\.10:is(:hover, [data-hover]) {
    background-color: var(--colors-primary-10)
        }

  .active\:bg_primary\.70:is(:active, [data-active]) {
    background-color: var(--colors-primary-70)
        }

  .active\:bg_primary\.15:is(:active, [data-active]) {
    background-color: var(--colors-primary-15)
        }

  @layer compositions {

    .textStyle_body\.pBold {
      font-weight: var(--font-weights-body-bold);
      font-size: 14px;
      line-height: 1.75
        }
    }
}