@layer tokens {
    :where(:root, :host) {
  --colors-primary-10: #E5E3FF;
  --colors-primary-15: #D3CFFF;
  --colors-primary-20: #AFA8FF;
  --colors-primary-30: #8A80FF;
  --colors-primary-40: #5959FF;
  --colors-primary-50: #4232FF;
  --colors-primary-60: #1200E3;
  --colors-primary-70: #0F00BB;
  --colors-primary-80: #0C0094;
  --colors-primary-90: #08006D;
  --colors-primary-95: #050046;
  --colors-gray-5: #F8F9FA;
  --colors-gray-10: #F1F3F5;
  --colors-gray-15: #DEE2E6;
  --colors-gray-20: #ADB5BD;
  --colors-gray-30: #868E96;
  --colors-gray-40: #6D757E;
  --colors-gray-50: #5F666D;
  --colors-gray-60: #51575C;
  --colors-gray-70: #3B4044;
  --colors-gray-80: #31363A;
  --colors-gray-90: #212529;
  --colors-gray-white: #FFFFFF;
  --colors-gray-black: #000000;
  --colors-system-red_lighten: #FEE6EA;
  --colors-system-red: #FB3958;
  --colors-system-red_darken: #8F2032;
  --colors-system-yellow_lighten: #FFF8E5;
  --colors-system-yellow: #FFC834;
  --colors-system-yellow_darken: #91721D;
  --colors-system-green_lighten: #EEF9F2;
  --colors-system-green: #6DC993;
  --colors-system-green_darken: #3E7254;
  --colors-system-blue_lighten: #E2EDFF;
  --colors-system-blue: #458EFF;
  --colors-system-blue_darken: #275191;
  --colors-system-orange_lighten: #F5DFCC;
  --colors-system-orange: #FD9134;
  --colors-system-orange_darken: #8F2032;
  --colors-system-brown_lighten: #EEE0DA;
  --colors-system-brown: #A07D6E;
  --colors-system-brown_darken: #442A1E;
  --font-weights-title: 700;
  --font-weights-body-bold: 500;
  --font-weights-body-light: 300;
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px
}
  }
  